html {
	width: 100%;
	height: 100%;
}

body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.button {
	border: 1px solid red;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin: 5px;
}

.button.short {
	padding-top: 5px;
	padding-bottom: 5px;
}

table {
	width: 100%;
	height: 100%;
}

tr {
	
}

td {
	text-align: center;
	padding: 0;
	margin: 0;
}